{
    # email to use on Let's Encrypt
    email info@storchp.de

    # Uncomment for debug
    #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
        acme_ca https://acme.zerossl.com/v2/DV90
	#debug
}

h2951065.stratoserver.net {
	redir https://monitoring.storchp.de{uri}
}

monitoring.storchp.de {
    basicauth /prometheus* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }

    handle_path /prometheus* {
        reverse_proxy prometheus:9090
    }

    basicauth /alertmanager* {
        {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
    }
    handle_path /alertmanager* {
        reverse_proxy alertmanager:9093
    }

    handle_path / {
        redir https://monitoring.storchp.de/grafana
    }

    handle_path /grafana* {
        reverse_proxy grafana:3000
    }

}
