server:
  applicationConnectors:
    - type: http
      port: 8080
      bindHost: 127.0.0.1
  adminConnectors:
    - type: http
      port: 8081
      bindHost: 127.0.0.1
database:
  driverClass: org.mariadb.jdbc.Driver
  user: rsapi
  password: {{vault_rsapi_db_password}}
  url: jdbc:mariadb://localhost:3306/rsapi
  properties:
    charSet: UTF-8
# connected via docker volume
workDir: /var/rsapi
salt: {{vault_rsapi_salt}}
mailer:
  "@class": org.railwaystations.api.mail.SmtpMailer
  host: mail.railway-stations.org
  port: 465
  user: info@railway-stations.org
  passwd: {{vault_rsapi_smtp_password}}
  from: info@railway-stations.org
monitor:
  "@class": org.railwaystations.api.monitoring.MatrixMonitor
  "uploadUrl": https://matrix.org/_matrix/media/r0/upload
  "roomUrl": https://matrix.org/_matrix/client/r0/rooms/%21uhCqfYxLoQrCIarGgi:matrix.org/send/m.room.message
  "accessToken": {{vault_rsapi_matrix_access_token}}
photoBaseUrl: https://api.railway-stations.org/photos
inboxBaseUrl: https://api.railway-stations.org/inbox
mailVerificationUrl: http://map.railway-stations.org/emailVerification.php?token=
mastodonBot:
  instanceUrl: https://botsin.space
  token: {{vault_rsapi_mastodon_token}}
  stationUrl: https://map.railway-stations.org/station.php
