apiVersion: 1

datasources:
  - name: MySQL-RSAPI
    type: MySQL
    url: {{rsapi_db_url}}
    database: {{rsapi_db}}
    user: {{rsapi_db_user}}
    jsonData:
      maxOpenConns: 0 # Grafana v5.4+
      maxIdleConns: 2 # Grafana v5.4+
      connMaxLifetime: 14400 # Grafana v5.4+
    secureJsonData:
      password: {{rsapi_db_password}}
